@charset "utf-8";

/* -:chooser
======================================================================================*/

.chooser {
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 1px;
  border-radius: 4px;
  margin: 2px;
  vertical-align: middle;
  position: relative;
}

.chooser a.glyphicon-remove {
  font-size: 11px;
  color: #797979;
  position: absolute;
  top: .5em;
  right: 0;
}

.chooser a.glyphicon-remove:hover {
  color: #333;
}

.chooser > * {
  vertical-align: middle;
}

.chooser .value-name {
  display: inline-block;
  min-width: 100px;
  min-height:  22px;
  font-size: 12px;
  line-height:  22px;
  padding: 0 3px 0 28px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 1.2em 0 0;
  vertical-align: middle;

}
.chooser .value-name:hover {
  background-color: #e6e6e6;
}

.chooser .value-name-item {
  display: inline-block;
  background-color: #d9edf7;
  border: 1px solid #86c2e2;
  padding: 3px 0 3px 5px;
  border-radius: 4px;
  margin: 1px 4px 1px 0;
  line-height: 1;
}

.chooser .value-name-item .glyphicon-remove {
  font-size: 10px;
  color: #61a6ca;
}

.chooser .value-name-item .glyphicon-remove:hover {
  color: #409aca;
  font-weight: bold;
}

.branch-chooser .value-name {
  background-image: url(../images/chooser_branch.png);
  background-repeat: no-repeat;
  background-position: 3px 1px;
}

.branch-multi-chooser .value-name {
  background-image: url(../images/chooser_branch_multi.png);
  background-repeat: no-repeat;
  background-position: 3px 1px;
}
