@charset "utf-8";

@font-face {
  font-family: 'extension';
  src:url('extension-fonts/extension.eot?-nenv82');
  src:url('extension-fonts/extension.eot?#iefix-nenv82') format('embedded-opentype'),
    url('extension-fonts/extension.woff?-nenv82') format('woff'),
    url('extension-fonts/extension.ttf?-nenv82') format('truetype'),
    url('extension-fonts/extension.svg?-nenv82#extension') format('svg');
  font-weight: normal;
  font-style: normal;
}

.glyphicon-ext-doc:before {
  font-family: 'extension' !important;
	content: "\e600";
}

.glyphicon-ext-plus:before {
  font-family: 'extension' !important;
	content: "\e601";
}


