@charset "utf-8";

/* -:popover
======================================================================================*/

.popover {
  z-index: 900;
  width: 340px;
  max-width: 340px;
  margin-bottom: 10px;
}

.popover h3.popover-title {
  font-size: 14px;
  border-left: none;
  padding: 8px 2px 8px 14px;
}

.popover-title .close {
  font-size: 12px;
}

.popover .popover-content {
  overflow-y: auto;
}

.popover .popover-top {
  margin-bottom: 10px;
}

.popover .popover-content .sub{
  margin: 5px 0 0 0;
  font-size: 13px;
}


