<form ng-if="form" name="f" novalidate>
  <div panel="顧客情報">
    <table info-table>
      <colgroup cols="[15,35,15,35]"></colgroup>
      <tbody>
        <tr>
          <th>氏名</th>
          <td>
            <input type="text" name="kname1"
              ng-model="form.kname1"
              ng-required="true"
              clc-with-errors>
            <input type="text" name="kname2"
              ng-model="form.kname2"
              ng-required="true"
              clc-with-errors>
          </td>
          <th>氏名（ふりがな）</th>
          <td>
            <input type="text" name="fname1"
              ng-model="form.fname1"
              ng-required="true"
              clc-with-errors>
            <input type="text" name="fname2"
              ng-model="form.fname2"
              ng-required="true"
              clc-with-errors>
          </td>
        </tr>
        <tr>
          <th>性別</th>
          <td>
            <span clc-radios name="sex"
              ng-model="form.sex"
              options="sexes" label-prop="longName"></span>
          </td>
          <th>好きな数字</th>
          <td>
            <input type="text" name="favoriteNumber"
              ng-model="form.favoriteNumber"
              ng-pattern="/^[0-9]*$/"
              clc-with-errors
              errors-opts="{patternName: '半角数字'}">
          </td>
        </tr>
        <tr>
          <th>クレーマー</th>
          <td>
            <span clc-checkbox name="claimer"
              ng-model="form.claimer"
              label="注意！"></span>
          </td>
          <th>生年月日</th>
          <td>
            <input bs-datepicker type="text" name="birthday"
              ng-model="form.birthday"
              clc-with-errors>
          </td>
        </tr>
        <tr>
          <th>電話可能時間</th>
          <td>
            <input type="text" name="contactEnableStartTime"
              ng-model="form.contactEnableStartTime"
              bs-timepicker>
            〜
            <input type="text" name="contactEnableEndTime"
              ng-model="form.contactEnableEndTime"
              bs-timepicker>
          </td>
          <th>メールアドレス</th>
          <td>
            <input type="text" name="email"
              ng-model="form.email">
          </td>
        </tr>
        <tr>
          <th>HP URL</th>
          <td>
            <input type="text" name="homepageUrl"
              ng-model="form.homepageUrl">
          </td>
          <th>電話番号</th>
          <td>
            <input type="text" name="phoneNumber"
              ng-model="form.phoneNumber">
          </td>
        </tr>
        <tr>
          <th>画像</th>
          <td colspan="3">
            <span clc-file name="photo"
                  ng-model="form.photo"
                  file-ext="jpg,png,gif"
                  file-size="{max: 1024 * 1024, min: 64}"
                  clc-with-errors></span>
          </td>
      </tbody>
    </table>

    <h3>家族情報</h3>
    <div class="btn-control" ng-form="family-csv-form">
      <span clc-file name="csv" ng-model="csvForm.family.csv" file-ext="csv" ng-required clc-with-errors></span>
      <button ng-click="uploadFamilyCsv()" btn="primary" glyphicon="saved">登録</button>
    </div>
    <table list-table>
      <thead>
        <tr>
          <th>関係</th>
          <th>名前</th>
          <th>性別</th>
          <th>好きな数字</th>
          <th>生年月日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="family in form.families" ng-form="familyForm">
          <td>
            <select name="familyType"
              ng-model="family.familyType"
              ng-options="e.id as e.name for e in familyTypes"
              clc-null-option></select>
          </td>
          <td>
            <input type="text" name="name"
              ng-model="family.name"
              ng-required="true"
              clc-with-errors>
          </td>
          <td>
            <span clc-radios name="sex"
              ng-model="family.sex"
              options="sexes"></span>
          </td>
          <td>
            <input type="text" name="favoriteNumber"
              ng-model="family.favoriteNumber"
              ng-pattern="/^[0-9]*$/"
              clc-with-errors
              errors-opts="{patternName: '半角数字'}">
          </td>
          <td>
            <input bs-datepicker type="text" name="birthday"
              ng-model="family.birthday"
              clc-with-errors>
          </td>
          <td>
            <span clc-checkbox
              name="delete"
              ng-model="family.delete"
              label="削除"></span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <input type="button" ng-click="addFamily()" class="btn btn-default" value="追加">
          </td>
        </tr>
      </tfoot>
    </table>

    <h3>補足項目</h3>
    <table list-table>
      <thead>
        <tr>
          <th>項目名</th>
          <th>内容</th>
          <th>情報源</th>
          <th>機微の個人情報</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="info in form.additionalInfoList" ng-form="additionalInfo">
          <td>
            <input type="text" name="name" ng-model="info.name" ng-required="true"/>
          </td>
          <td>
            <input type="text" name="content" ng-model="info.content" ng-required="true"/>
          </td>
          <td>
            <select name="infoSource"
                    ng-model="info.infoSource"
                    ng-options="e.id as e.name for e in infoSource"
                    clc-null-option></select>
          </td>
          <td>
            <span clc-checkbox name="sensitiveInfo" ng-model="info.sensitiveInfo"></span>
          </td>
          <td>
            <a ng-click="form.additionalInfoList.delete(this)">×</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <input type="button" ng-click="form.additionalInfoList.push({})" class="btn btn-default" value="追加">
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="control">
      <button clc-submit="save()"
        btn="primary" glyphicon="saved">登録</button>
      <a ng-if="form.id == null" href="{{::$href('./index', {}, true)}}"
        btn="default" glyphicon="list">一覧へ</a>
      <a ng-if="form.id != null" href="{{::$href('./show', {id: form.id})}}"
        btn="default" glyphicon="chevron-left">戻る</a>
    </div>
  </div>
</form>
