<div ng-if="record" panel="顧客情報">
  <table info-table>
    <colgroup cols="[15,35,15,35]"></colgroup>
    <tbody>
      <tr>
        <th>氏名</th>
        <td>
          {{::record.kname1}} {{::record.kname2}}
        </td>
        <th>氏名（ふりがな）</th>
        <td>
          {{::record.fname1}} {{::record.fname2}}
        </td>
      </tr>
      <tr>
        <th>性別</th>
        <td>
          {{::record.sex | options:'sex':'longName':'不明'}}
        </td>
        <th>好きな数字</th>
        <td>
          {{::record.favoriteNumber}}
        </td>
      </tr>
      <tr>
        <th>クレーマー</th>
        <td>
          <span ng-show="::record.claimer">注意！</span>
        </td>
        <th>生年月日</th>
        <td>
          {{::record.birthday | date}}
        </td>
      </tr>
      <tr>
        <th>電話可能時間</th>
        <td>
          {{::record.contactEnableStartTime | date:'HH:mm'}}
          〜
          {{::record.contactEnableEndTime | date:'HH:mm'}}
        </td>
        <th>メールアドレス</th>
        <td>
          {{::record.email}}
        </td>
      </tr>
      <tr>
        <th>HP URL</th>
        <td>
          {{::record.homepageUrl}}
        </td>
        <th>電話番号</th>
        <td>
          {{::record.phoneNumber}}
        </td>
      </tr>
      <tr>
        <th>画像</th>
        <td colspan="3">
          {{::record.photo.meta.name}}
          <a ng-click="download(record.photo.id)" ng-if="record.photo.id != null">ダウンロード</a>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>家族情報</h3>
  <div class="btn-control">
    <a ng-click="downloadFamilyCsv()">ダウンロード</a>
  </div>
  <table list-table>
    <colgroup cols="[]"></colgroup>
    <thead>
      <tr>
        <th>関係</th>
        <th>名前</th>
        <th>性別</th>
        <th>好きな数字</th>
        <th>生年月日</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="family in record.families">
        <td>
          {{::family.familyType | options:'familyType'}}
        </td>
        <td>
          {{::family.name}}
        </td>
        <td>
          {{::family.sex | options:'sex'}}
        </td>
        <td>
          {{::family.favoriteNumber}}
        </td>
        <td>
          {{::family.birthday | date}}
        </td>
      </tr>
    </tbody>
  </table>

  <h3>補足項目</h3>
  <table list-table>
    <colgroup cols="[]"></colgroup>
    <thead>
      <tr>
        <th>名前</th>
        <th>内容</th>
        <th>情報源</th>
        <th>機微の個人情報</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="info in record.additionalInfoList">
        <td>
          {{::info.name}}
        </td>
        <td>
          {{::info.content}}
        </td>
        <td>
          {{::info.infoSource | options:"infoSource"}}
        </td>
        <td class="text-center">
          <span ng-if="info.sensitiveInfo">✔</span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="control">
    <a href="{{::$href('./edit', {id: record.id})}}"
      btn="primary" glyphicon="pencil">編集</a>
    <a ng-click="delete(record.id);$event.stopPropagation();"
      btn="danger" glyphicon="trash">削除</a>
    <a href="{{::$href('./index', {}, true)}}"
      btn="default" glyphicon="list">一覧へ</a>
  </div>

</div>
