/target/
*/target/
/out/
*/out/
**/WEB-INF/classes/
**/WEB-INF/lib/

.DS_Store

.classpath
.project
.settings/
.externalToolBuilders/

.idea
*.iml
*.ipr
*.iws

.gradle/
/build/
*/build/
/classes/

npm-debug.log
