/target/
*/target/
/out/
*/out/
**/WEB-INF/classes/
**/WEB-INF/lib/

.DS_Store

.classpath
.project
.settings/
.externalToolBuilders/

.idea
*.iml
*.ipr
*.iws

.gradle/
/build/
*/build/
/classes/

npm-debug.log
npm-debug.log*


service/src/main/resources/env/calico.properties
service/migration/db/environments/development.properties
service/migration/db/environments/test.properties
service/migration/log/environments/development.properties
service/migration/log/environments/test.properties
web/src/app/app.config.ts
web/package-lock.json
