<c-panel title="ユーザ情報" *ngIf="form">
  <form [formGroup]="form" novalidate (ngSubmit)="save()">
    <table c-info-table>
      <colgroup [c-cols]="[20, null]"></colgroup>
      <tbody>
        <tr>
          <th>LoginId</th>
          <td>
            <c-textfield formControlName="loginId"></c-textfield>
          </td>
        </tr>
        <tr>
          <th>Password</th>
          <td>
            <c-textfield formControlName="password"></c-textfield>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button c-btn="primary" c-glyphicon="saved">登録</button>
      <a *ngIf="!id" c-btn="default" c-glyphicon="chevron-left" [routerLink]="['../index']">取消</a>
      <a *ngIf="id" c-btn="default" c-glyphicon="chevron-left" [routerLink]="['../show', {id: id}]">取消</a>
    </div>
  </form>
</c-panel>
