<tabs></tabs>
<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
  <c-panel>
    <div><button cBtn="primary">submit</button></div>

    <div>
      <h3>PLAIN</h3>
      <c-checkboxes formControlName="val1" [options]="options.FamilyType"></c-checkboxes>
      <div inspect="val1"></div>
    </div>

    <div>
      <h3>PLAIN(値あり)</h3>
      <c-checkboxes formControlName="val2" [options]="options.Sex"></c-checkboxes>
      <div inspect="val2"></div>
    </div>

    <div>
      <h3>必須</h3>
      <c-checkboxes formControlName="val3" [options]="options.FamilyType"></c-checkboxes>
      <div inspect="val3"></div>
    </div>

    <div>
      <h3>optionLabel</h3>
      <c-checkboxes formControlName="val5" [options]="options.FamilyType"
        optionLabel="NAME"></c-checkboxes>
      <div inspect="val5"></div>
    </div>

    <div>
      <h3>optionValue, optionKey</h3>
      <c-checkboxes formControlName="val6" [options]="options.FamilyType"
        optionValue="NAME"
        optionKey="NAME"></c-checkboxes>
      <div inspect="val6"></div>
    </div>

    <div>
      <h3>オブジェクト配列以外のoptions</h3>
      <c-checkboxes formControlName="val7" [options]="[1,2,3,4,5]"></c-checkboxes>
      <div inspect="val7"></div>
    </div>

    <div>
      <h3>Observableのoptions</h3>
      <c-checkboxes formControlName="val8" [options]="observable$"></c-checkboxes>
      <div inspect="val8"></div>
    </div>

    <div>
      <h3>extEnum</h3>
      <c-checkboxes formControlName="val9" extEnum="FamilyType"></c-checkboxes>
      <div inspect="val9"></div>
    </div>

    <div>
      <h3>remoteData</h3>
      <c-checkboxes formControlName="val10" remoteData="FamilyType"></c-checkboxes>
      <div inspect="val10"></div>
    </div>

    <div>
      <h3>remoteData(not ensured)</h3>
      <c-checkboxes formControlName="val11" remoteData="NotEnsuredFamilyType"></c-checkboxes>
      <div inspect="val11"></div>
    </div>

    <div><button cBtn="primary">submit</button></div>
  </c-panel>
</form>
