<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">Home</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <ng-container *ngFor="let item of items">
            <li *ngIf="item.items == null">
              <template [ngTemplateOutlet]="linkTpl" [ngOutletContext]="{item: item}"></template>
            </li>
            <li *ngIf="item.items != null" dropdown>
              <a dropdownToggle>{{item.label}} <span class="caret"></span></a>
              <ul dropdownMenu>
                <li>
                  <template *ngFor="let item of item.items" [ngTemplateOutlet]="linkTpl" [ngOutletContext]="{item: item}"></template>
                </li>
              </ul>
            </li>
          </ng-container>
          <template #linkTpl let-item="item">
            <a [routerLink]="item.routerLink">{{item.label}}</a>
          </template>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">
              <span class="glyphicon glyphicon-user"></span>
            </p>
          </li>
          <li>
            <a (click)="logout()">
              <span class="glyphicon glyphicon-log-out"></span> logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
