<tabs></tabs>
<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
  <c-panel>
    <div><button cBtn="primary">submit</button></div>

    <div>
      <h3>PLAIN</h3>
      <c-checkbox formControlName="val1"></c-checkbox>
      <div inspect="val1"></div>
    </div>

    <div>
      <h3>PLAIN(値あり)</h3>
      <c-checkbox formControlName="val2"></c-checkbox>
      <div inspect="val2"></div>
    </div>

    <div>
      <h3>label</h3>
      <c-checkbox formControlName="val3"
        label="チェック"></c-checkbox>
      <div inspect="val3"></div>
    </div>

    <div>
      <h3>必須</h3>
      <c-checkbox formControlName="val4"
        label="チェック"></c-checkbox>
      <div inspect="val4"></div>
    </div>

    <div>
      <h3>trueValue, falseValue</h3>
      <c-checkbox formControlName="val5"
        label="チェック"
        trueValue="YES"
        falseValue="NO"></c-checkbox>
      <div inspect="val5"></div>
    </div>

    <div><button cBtn="primary">submit</button></div>
  </c-panel>
</form>
