<c-panel heading="サンプルポップオーバー">
  <button type="button" cBtn="primary" [cPopover]="parentTemplate" #cPopover1="cPopover" (click)="cPopover1.toggle()">parent popover</button>
  <ng-template #parentTemplate>
    <button type="button" cBtn="danger" [cPopover]="childTemplate" #cPopover2="cPopover" (click)="cPopover2.toggle()">child popover</button>
    <p>This is parent</p>
    <p><c-textfield [(ngModel)]="value"></c-textfield></p>
    <p><c-datepicker [(ngModel)]="date"></c-datepicker></p>
    <p><c-timepicker [(ngModel)]="time"></c-timepicker></p>
    <ng-template #childTemplate>
      <ng-container *ngIf="value">
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
        <p><button cBtn="primary">test</button></p>
      </ng-container>
    </ng-template>
  </ng-template>

  <c-textfield [cPopover]="panel1" [(ngModel)]="value1" #cPopover3="cPopover" (focus)="cPopover3.open()"></c-textfield>
  <c-textfield [cPopover]="panel2" [(ngModel)]="value2" #cPopover4="cPopover" (focus)="cPopover4.open()"></c-textfield>
  <ng-template #panel1>
    <c-panel>test1 <c-textfield [(ngModel)]="value3"></c-textfield></c-panel>
  </ng-template>
  <ng-template #panel2>
    <c-panel>test2 <c-textfield [(ngModel)]="value4"></c-textfield></c-panel>
  </ng-template>

  <div *ngIf="!bomb">
    <button cBtn="default" [cPopover]="panel" #p="cPopover" (click)="openAndDistinct(p)">inner ngIf</button>
    <ng-template #panel>
      一定時間後に消える
    </ng-template>
  </div>

  <pre>{{event}}</pre>
  <button cBtn="default" [cPopover]="ev1" #p1="cPopover" (click)="p1.open()" (beforeClose)="event = 'beforeClose'" (beforeOpen)="event = 'beforeOpen'">beforeOpen / beforeClose イベント</button>
  <ng-template #ev1>
    beforeOpen / beforeClose
  </ng-template>

  <button cBtn="default" [cPopover]="ev2" #p2="cPopover" (click)="p2.open()" (close)="event = 'close'" (open)="event = 'open'">open / close イベント</button>
  <ng-template #ev2>
    open / close
  </ng-template>
</c-panel>

