<c-panel heading="サンプルポップオーバー">
  <button type="button" cBtn="primary" [cPopover]="parentTemplate" #cPopover1="cPopover" (click)="cPopover1.toggle()">parent popover</button>
  <ng-template #parentTemplate>
    <button type="button" cBtn="danger" [cPopover]="childTemplate" #cPopover2="cPopover" (click)="cPopover2.toggle()">child popover</button>
    <p>This is parent</p>
    <ng-template #childTemplate>
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
      <p>This is child</p>
    </ng-template>
  </ng-template>

  <c-textfield [cPopover]="panel1" [(ngModel)]="value1" #cPopover3="cPopover" (focus)="cPopover3.open()"></c-textfield>
  <c-textfield [cPopover]="panel2" [(ngModel)]="value2" #cPopover4="cPopover" (focus)="cPopover4.open()"></c-textfield>
  <ng-template #panel1>
    <c-panel>test1 <c-textfield [(ngModel)]="value3"></c-textfield></c-panel>
  </ng-template>
  <ng-template #panel2>
    <c-panel>test2 <c-textfield [(ngModel)]="value4"></c-textfield></c-panel>
  </ng-template>
</c-panel>

