<tabs></tabs>

<div panel>
  <controller-src></controller-src>

  <form name="f" novalidate class="ng-submitted">

    <h3>基本</h3>
    <script sample="checkboxes1" type="text/ng-template">
      <span clc-checkboxes name="val1"
        ng-model="obj.val1"
        options="options1"></span>
    </script>
    <pre class="inspect">{{obj.val1}}</pre>

    <h3>value-prop, label-prop指定</h3>
    <script sample="checkboxes2" type="text/ng-template">
      <span clc-checkboxes name="val2"
        ng-model="obj.val2"
        options="options1"
        value-prop="en" label-prop="cry"></span>
    </script>
    <pre class="inspect">{{obj.val2}}</pre>

    <h3>分割して配置</h3>
    <script sample="checkboxes3" type="text/ng-template">
      <span ng-repeat="e in options1">
        <span clc-checkboxes name="val3"
          ng-model="obj.val3"
          options="[e]"></span>
      </span>
    </script>
    <pre class="inspect">{{obj.val3}}</pre>

    <h3>必須チェック</h3>
    <script sample="checkboxes5" type="text/ng-template">
      <span clc-checkboxes name="val5"
        ng-model="obj.val5"
        options="options1"
        ng-required="true"
        clc-with-errors></span>
    </script>
    <pre class="inspect">{{obj.val5}}</pre>

    <h3>onchange</h3>
    <script sample="checkboxes4" type="text/ng-template">
      <span clc-checkboxes name="val4"
        ng-model="obj.val4"
        options="options1"
        ng-change="onchange($event)"></span>
    </script>
    <pre class="inspect">{{obj.val4}}</pre>

    <h3>disabled</h3>
    <script sample="checkboxes6" type="text/ng-template">
      <span clc-checkbox name="disabled"
        ng-model="obj.disabled"
        label="Disabled"></span>
      <span clc-checkboxes name="val6"
        ng-model="obj.val6"
        options="options1"
        ng-disabled="obj.disabled"></span>
    </script>
    <pre class="inspect">{{obj.val6}}</pre>

  </form>
</div>
