<tabs></tabs>

<div panel>
  <controller-src></controller-src>

  <form name="f" novalidate class="ng-submitted">

    <h3>基本</h3>
    <script sample="select1" type="text/ng-template">
      <select name="val1"
        ng-model="obj.val1"
        ng-options="e.id as e.name for e in options1"></select>
    </script>
    <pre class="inspect">{{obj.val1}}</pre>

    <h3>必須チェック</h3>
    <script sample="select2" type="text/ng-template">
      <select name="val2"
        ng-model="obj.val2"
        ng-options="e.id as e.name for e in options2"
        ng-required="true"
        clc-with-errors></select>
    </script>
    <pre class="inspect">{{obj.val2}}</pre>

    <h3>null選択肢</h3>
    <script sample="select3" type="text/ng-template">
      <select name="val3"
        ng-model="obj.val3"
        ng-options="e.id as e.name for e in options2"
        ng-required="true"
        clc-null-option
        clc-with-errors></select>
    </script>
    <pre class="inspect">{{obj.val3}}</pre>

    <h3>onchange</h3>
    <script sample="radios4" type="text/ng-template">
      <select name="val4"
        ng-model="obj.val4"
        ng-options="e.id as e.name for e in options2"
        ng-change="onchange('val4')"></select>
    </script>
    <pre class="inspect">{{obj.val4}}</pre>

  </form>
</div>
