<tabs></tabs>

<div panel>
  <controller-src></controller-src>

  <form name="f" novalidate class="ng-submitted">

    <h3>基本</h3>
    <script sample="timepicker1" type="text/ng-template">
      <input bs-timepicker type="text" name="val1"
        ng-model="obj.val1">
    </script>
    <pre class="inspect">{{obj.val1}}</pre>

    <h3>必須チェック</h3>
    <script sample="timepicker2" type="text/ng-template">
      <input bs-timepicker type="text" name="val2"
        ng-model="obj.val2"
        ng-required="true"
        clc-with-errors>
    </script>
    <pre class="inspect">{{obj.val2}}</pre>

    <h3>onchange</h3>
    <script sample="timepicker3" type="text/ng-template">
      <input bs-timepicker type="text" name="val3"
        ng-model="obj.val3"
        ng-change="onchange('val3')">
    </script>
    <pre class="inspect">{{obj.val3}}</pre>

  </form>
</div>
