<tabs></tabs>
<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
  <c-panel>
    <div><button cBtn="primary">submit</button></div>

    <div>
      <h3>EMPTY ARRAY</h3>
      <c-error-tip-container formArrayName="val1" [for]="form.controls.val1" style="padding: 5px; border: solid 1px;">
        ここはエラーチップ出る
      </c-error-tip-container>
      <div inspect="val1"></div>
    </div>

    <div>
      <h3>EMPTY GROUP</h3>
      <div formGroupName="val2" style="padding: 5px; border: solid 1px;">
        ここはエラーチップ出ない
        <div cErrorTipContainer [for]="form.controls.val2">
          ここはエラーチップ出る
        </div>
        ここはエラーチップ出ない
      </div>
      <div inspect="val2"></div>
    </div>
    <div [cErrorTipContainer]="form.controls.val2">
      val2 エラーチップ出る
    </div>

    <div>
      <h3>常にエラー</h3>
      <c-error-tip-container formGroupName="val3" [for]="form.controls.val3" style="padding: 5px; border: solid 1px;">
        ここはエラーチップ出る
        <c-textfield formControlName="i1"></c-textfield>
      </c-error-tip-container>
      <div inspect="val3"></div>
    </div>

    <div><button cBtn="primary">submit</button></div>
  </c-panel>
</form>
