<c-panel heading="顧客情報" *ngIf="form">
  <form [formGroup]="form" novalidate (ngSubmit)="save()">
    <table cInfoTable>
      <colgroup [cCols]="[15, 35, 15, 35]"></colgroup>
      <tbody>
        <tr>
          <th>氏名</th>
          <td>
            <c-textfield formControlName="kname1" placeholder="姓" class="person-name"></c-textfield>
            <c-textfield formControlName="kname2" placeholder="名" class="person-name"></c-textfield>
          </td>
          <th>氏名(ふりがな)</th>
          <td>
            <c-textfield formControlName="fname1" placeholder="せい" class="person-name"></c-textfield>
            <c-textfield formControlName="fname2" placeholder="めい" class="person-name"></c-textfield>
          </td>
        </tr>
        <tr>
          <th>性別</th>
          <td>
            <c-radios formControlName="sex" extEnum="Sex"></c-radios>
          </td>
          <th>生年月日</th>
          <td>
            <c-datepicker formControlName="birthday"></c-datepicker>
          </td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>
            <c-textfield formControlName="phoneNumber"></c-textfield>
          </td>
          <th>連絡可能時間</th>
          <td>
            <c-timepicker formControlName="contactEnableStartTime"></c-timepicker>
            〜
            <c-timepicker formControlName="contactEnableEndTime"></c-timepicker>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>
            <c-textfield formControlName="email"></c-textfield>
          </td>
          <th>ホームページURL</th>
          <td>
            <c-textfield formControlName="homepageUrl"></c-textfield>
          </td>
        </tr>
        <tr>
          <th>好きな数字</th>
          <td>
            <c-integer formControlName="favoriteNumber"></c-integer>
          </td>
          <th>クレーマー</th>
          <td>
            <c-checkbox formControlName="claimer" label="クレーマー"></c-checkbox>
          </td>
        </tr>
        <tr>
          <th>就寝時刻</th>
          <td>
            <c-timepointpicker formControlName="sleepTime"></c-timepointpicker>
          </td>
        </tr>
      </tbody>
    </table>
    <table cListTable [hover]="false" formArrayName="families">
      <colgroup [cCols]="[15, 20, 15, 15, 25, null]"></colgroup>
      <thead>
        <tr>
          <th>続柄</th>
          <th>名前</th>
          <th>性別</th>
          <th>好きな数字</th>
          <th>生年月日</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let family of form.get('families').controls; let i = index" [formGroupName]="i">
          <td>
            <c-select formControlName="familyType" extEnum="FamilyType"></c-select>
          </td>
          <td>
            <c-textfield formControlName="name" placeholder="名" class="person-name"></c-textfield>
          </td>
          <td>
            <c-radios formControlName="sex" extEnum="Sex"></c-radios>
          </td>
          <td>
            <c-integer formControlName="favoriteNumber"></c-integer>
          </td>
          <td>
            <c-datepicker formControlName="birthday"></c-datepicker>
          </td>
          <td>
            <a cBtn="default,sm" cGlyphicon="trash" (click)="removeFamily(i)">削除</a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <a cBtn="default,sm" cGlyphicon="plus" (click)="addFamily()">家族追加</a>
          </td>
        </tr>
      </tfoot>
    </table>
    <div>
      <button type="submit" cBtn="primary" cGlyphicon="saved" [disabled]="form | submitting">登録</button>
      <a *ngIf="!id" cBtn="default" cGlyphicon="chevron-left" [routerLink]="['../index']">取消</a>
      <a *ngIf="id" cBtn="default" cGlyphicon="chevron-left" [routerLink]="['../show', {id: id}]">取消</a>
    </div>
  </form>
  <!--<div class="pre">{{form.value | json}}</div>-->
</c-panel>
