<c-panel heading="検索条件" *ngIf="searchContext.form">
  <form [formGroup]="searchContext.form" novalidate (ngSubmit)="searchContext.search()">
    <table cInfoTable>
      <colgroup [cCols]="[15, 35, 15, 35]"></colgroup>
      <tbody>
        <tr>
          <th>氏名</th>
          <td>
            <c-textfield formControlName="name"></c-textfield>
          </td>
          <th>性別</th>
          <td>
            <c-radios formControlName="sex" extEnum="Sex" [nullOption]="true" nullOptionLabel="全て"></c-radios>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <button cBtn="primary" cGlyphicon="search" [disabled]="searchContext.form | submitting">検索</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</c-panel>

<c-panel heading="顧客一覧" *ngIf="searchContext.result">
  <div>
    <div class="pull-right" cPager></div>
    <a cBtn="primary" cGlyphicon="plus" [routerLink]="['../edit']">新規登録</a>
  </div>
  <table cListTable>
    <colgroup [cCols]="[15, 10, null]"></colgroup>
    <thead>
      <tr>
        <th cSort="name">氏名</th>
        <th cSort="sex">性別</th>
        <th cSort="birthday">生年月日</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of searchContext.result.records" (click)="onSelect(record)">
        <td>
          {{record.kname1}} {{record.kname2}}
        </td>
        <td>
          {{record.sex?.name}}
        </td>
        <td>
          {{record.birthday | date:'yyyy/MM/dd'}}
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <div class="pull-right" cPager></div>
  </div>
</c-panel>
