@charset "utf-8";

@font-face {
  font-family: 'extension';
  src:url('assets/extension-fonts/extension.eot');
  src:url('assets/extension-fonts/extension.eot?#iefix') format('embedded-opentype'),
    url('assets/extension-fonts/extension.woff') format('woff'),
    url('assets/extension-fonts/extension.ttf') format('truetype'),
    url('assets/extension-fonts/extension.svg#extension') format('svg');
  font-weight: normal;
  font-style: normal;
}

.glyphicon-ext-doc:before {
  font-family: 'extension' !important;
	content: "\e600";
}

.glyphicon-ext-plus:before {
  font-family: 'extension' !important;
	content: "\e601";
}


