@charset "utf-8";

/* -:navbar
======================================================================================*/

.navbar-inverse .navbar-brand {
  box-sizing: content-box;
  display: inline-block;
  background-image: url(assets/images/logo.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 200px 50px;
  width: 200px;
  height: 0;
  padding: 50px 0 0 0;
  line-height: 0 !important;
  font-size: 0 !important;
  overflow: hidden;
}

.navbar-search {
  width: 130px;
  background: #4d4d4d !important;
  border: 0 !important;
  color: #fff !important;
  font-weight: normal;
}

.navbar-inverse {
  border-radius: 0;
  border: none;
  margin: 0;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  background-image: url(assets/images/line-color.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 3px;
}

.navbar-inverse a {
  color: #f9f9f9 !important;
}


.navbar-inverse .open .dropdown-menu > li > a {
  color: #333 !important;
}

.navbar-inverse .navbar-text {
  color: #f9f9f9 !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar-fixed-top {
  z-index: 1038;
}

.navbar .dropdown-menu > li > a {
  font-size: 13px;
}
