@charset "utf-8";

.ng-submitted {
  .ng-invalid {
    background-color: #fdd;
    border: solid 1px red;
  }
}

/* tooltip */

.validation-messages.show-as-tooltip {
  display: none;
  position: absolute;
  padding: .5em 1em .4em;
  background-color: #f66;
  border: 1px solid #f00;
  border-radius: 5px;
  color: #fff;
  z-index: 10;

  &:after, &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 15px;
    border: solid transparent;
  }
  &:after {
    margin-left: 1px;
    border-top-color: #f66;
    border-width: 7px;
  }
  &:before {
    border-top-color: #f00;
    border-width: 8px;
  }
}

.ng-submitted {
  .ng-invalid:focus + .validation-messages.show-as-tooltip,
  .ng-invalid:hover + .validation-messages.show-as-tooltip,
  .ng-invalid.focused + .validation-messages.show-as-tooltip,
  .ng-invalid:focus + .datepicker + .validation-messages.show-as-tooltip,
  .ng-invalid:hover + .datepicker + .validation-messages.show-as-tooltip,
  .ng-invalid:focus + .timepicker + .validation-messages.show-as-tooltip,
  .ng-invalid:hover + .timepicker + .validation-messages.show-as-tooltip
  {
    display: block;
  }
}

/* div */

.validation-messages.show-as-embed {
  display: none;
  padding: 0.2em 0.3em;
  border-radius: 5px;
  color: #f00;
}

.ng-submitted {
  .validation-messages.show-as-embed {
    display: inline-block;
  }
}
