<div ng-if="result && form && callback">
  <div class="result-number">
    検索結果<span>{{getRecordCount()}}</span>件
  </div>
  <select name="perPage"
    ng-model="form._page.perPage"
    ng-options="e.id as e.name for e in options"
    ng-change="onchangePerPage()"></select>
  <ul class="pagination  pagination-sm">
    <li ng-class="{disabled: !hasPrevPage()}">
      <a ng-click="moveToPrev()" aria-label="Previous">
        <span>&laquo;</span>
      </a>
    </li>
    <li ng-repeat="no in getPageNos() track by $index" ng-class="{active: getCurrentPageNo() == no}">
      <a ng-if="no != null" ng-click="moveTo(no)">{{no}}</a>
      <a ng-if="no == null">...</a>
    </li>
    <li ng-class="{disabled: !hasNextPage()}">
      <a ng-click="moveToNext()" aria-label="Next">
        <span>&raquo;</span>
      </a>
    </li>
  </ul>
</div>
