<tabs></tabs>
<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
  <c-panel>
    <div><button cBtn="primary">submit</button></div>

    <div>
      <h3>PLAIN</h3>
      <c-file formControlName="val1"></c-file>
      <button type="button" (click)="download(form.controls.val1.value); $event.preventDefault()">ダウンロード</button>
      <div inspect="val1"></div>
    </div>

    <div>
      <h3>PLAIN(値あり)</h3>
      <c-file formControlName="val2"></c-file>
      <div inspect="val2"></div>
    </div>

    <div>
      <h3>必須</h3>
      <c-file formControlName="val3"></c-file>
      <div inspect="val3"></div>
    </div>

    <div>
      <h3>バリデーションエラー</h3>
      <c-file formControlName="val4"></c-file>
      <div inspect="val4"></div>
    </div>

    <div>
      <h3>遅延</h3>
      <c-file formControlName="val5"></c-file>
      <div inspect="val5"></div>
    </div>

    <div><button cBtn="primary">submit</button></div>
  </c-panel>
</form>
