<c-panel title="顧客情報" *ngIf="record">
  <table cInfoTable>
    <colgroup [cCols]="[15, 35, 15, 35]"></colgroup>
    <tbody>
      <tr>
        <th>氏名</th>
        <td>
          {{record.kname1}}
          {{record.kname2}}
        </td>
        <th>氏名(ふりがな)</th>
        <td>
          {{record.fname1}}
          {{record.fname2}}
        </td>
      </tr>
      <tr>
        <th>性別</th>
        <td>
          {{record.sex?.name}}
        </td>
        <th>生年月日</th>
        <td>
          {{record.birthday | date:'yyyy/MM/dd'}}
        </td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>
          {{record.phoneNumber}}
        </td>
        <th>連絡可能時間</th>
        <td>
          {{record.contactEnableStartTime | date:'HH:mm'}}
          〜
          {{record.contactEnableEndTime | date:'HH:mm'}}
        </td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>
          {{record.email}}
        </td>
        <th>ホームページURL</th>
        <td>
          {{record.homepageUrl}}
        </td>
      </tr>
      <tr>
        <th>好きな数字</th>
        <td>
          {{record.favoriteNumber}}
        </td>
        <th>クレーマー</th>
        <td>
          <span *ngIf="record.claimer">◯</span>
        </td>
      </tr>
    </tbody>
  </table>
  <table cListTable [hover]="false">
    <colgroup [cCols]="[15, 20, 15, 15, null]"></colgroup>
    <thead>
      <tr>
        <th>続柄</th>
        <th>名前</th>
        <th>性別</th>
        <th>好きな数字</th>
        <th>生年月日</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let family of record.families">
        <td>
          {{family.familyType?.name}}
        </td>
        <td>
          {{family.name}}
        </td>
        <td>
          {{family.sex?.name}}
        </td>
        <td>
          {{family.favoriteNumber}}
        </td>
        <td>
          {{family.birthday | date:'yyyy/MM/dd'}}
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <a cBtn="primary" cGlyphicon="pencil" [routerLink]="['../edit', {id: record.id}]">編集</a>
    <a cBtn="danger" cGlyphicon="trash" (click)="delete()">削除</a>
    <a cBtn="default" cGlyphicon="list" [routerLink]="['../index']" [fragment]="fragment">一覧へ</a>
  </div>
</c-panel>
